*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    margin-bottom: 0px;
}
::-webkit-scrollbar {
    width: 5px; 
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.container-fluid{
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar .nav-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44469a;
    padding: 10px 20px;
}
.navbar button{
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .5s ease;
    cursor: pointer;
}
.navbar button:hover{
    background-color: #2f042e;
    color: white;
    box-shadow: 0px 0px 10px 5px #3f34b2;
}
.navbar .logo p{
    font-size: 24px;
}
.navbar .logo p span{
    color: black;
    font-weight: bold;
}
.navbar .loginPage{
    background-color: rgba(0, 0, 0, 0.674);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    backdrop-filter: blur(3px);
}
.navbar .login img{
    width: 41px;
    border-radius: 100%;
    cursor: pointer;
}
.navbar .loginPage form{
    background-color: #f1f1f1;
    padding: 30px 50px 30px 50px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media screen and (max-width: 545px){
    .navbar .loginPage form{
        padding: 30px 20px;
        width: 90%;
    }
}
.navbar .loginPage form input{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    color: black;
    font-weight: 500;
}
.navbar .loginPage button{
    background-color: #4285f4;
    margin-top: 10px;
    color: white;
}
.navbar .loginPage button:hover{
    background-color: #2f042e;
    color: white;
    box-shadow: 0px 0px 10px 5px #3f34b2;
}
.navbar .loginPage .or{
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.navbar .loginPage .google{
    margin-top: 20px;
    display: inline-flex;
    padding: 2px;
    cursor: pointer;
    transition: .3s ease;
}

.navbar .loginPage .google img{
    width: 40px;
    background-color: white;
}
.navbar .loginPage .fa-circle-xmark{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: .5s ease;
}
.navbar .loginPage .fa-circle-xmark:hover{
    color: black;
}
.navbar .loginPage .title{
    font-size: 20px;
    font-weight: bold;
}


/*   Char Area   */
.chat-area{
    flex: 1;
    display: flex;
    overflow: hidden;
}
.chat-area .user{
    width: 25%;
    background-color: #ffffff;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chat-area .chat{
    width: 75%;
    /* background-color: rgb(97, 190, 97); */
    position: relative;
    display: flex;
    flex-direction: column;
    background: url('https://img.freepik.com/free-photo/dark-blue-product-background_53876-92801.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.chat-area .chat .title{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}
.chat-area .chat .title .name{
    font-weight: 400;
    padding-left: 20px;
}
.chat-area .chat .title img{
    width: 40px;
    border-radius: 100%;
}
.chat-area .chat .chat-section{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chat-area .chat .send-message form{
    /* position: absolute; */
    bottom: 0px;
    width: 100%;
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 10px;
}
.chat-area .chat .send-message input{
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    color: black;
}
.chat-area .chat .send-message button{
    padding: 0px 20px;
    border-radius: 5px;
}

/*   /Char Area   */

.user-card{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid rgba(128, 128, 128, 0.218);
    border-radius: 5px;
    cursor: pointer;
}
.user-card img{
    width: 40px;
    border-radius: 100%;
}
.user-card .name{
    font-weight: 500;
    padding-left: 10px;
}
.user-card .profile-logo{
    position: relative;
}
.user-card .profile-logo .fa-circle{
    color: #00b81f;
    border-radius: 100%;
    font-size: 10px;
    position: absolute;
    top: 5%;
    left: 70%;
}
/*   Send Message Box  */
.send-msg, .recieve-msg{
    padding: 5px;
}
.send-msg .text-box,
.recieve-msg .text-box{
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
}
.send-msg .text-box{
    background-color: #4285f4;
    color: white;
    padding-left: 20px;
}
.recieve-msg .text-box{
    background: gray;
    color: white;
    width: max-content;
    padding-right: 20px;
}
.send-msg{
    display: flex;
    justify-content: right;
    text-align: right;
}
.send-msg .date, .recieve-msg .date{
    font-size: 10px;
    color: black;
    margin-bottom: 0px;
}
/*   /Send Message Box  */

