*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    margin-bottom: 0px;
}
.navbar .nav-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44469a;
    padding: 10px 20px;
}
.navbar button{
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .5s ease;
    cursor: pointer;
}
.navbar button:hover{
    background-color: #2f042e;
    color: white;
    box-shadow: 0px 0px 10px 5px #3f34b2;
}
.navbar .logo p{
    font-size: 24px;
}
.navbar .logo p span{
    color: black;
    font-weight: bold;
}
.navbar .loginPage{
    background-color: rgba(0, 0, 0, 0.674);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    backdrop-filter: blur(3px);
}
.navbar .login img{
    width: 41px;
    border-radius: 100%;
    cursor: pointer;
}
.navbar .loginPage form{
    background-color: #f1f1f1;
    padding: 30px 50px 30px 50px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.navbar .loginPage form input{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    color: black;
    font-weight: 500;
}
.navbar .loginPage button{
    background-color: #4285f4;
    margin-top: 10px;
    color: white;
}
.navbar .loginPage button:hover{
    background-color: #2f042e;
    color: white;
    box-shadow: 0px 0px 10px 5px #3f34b2;
}
.navbar .loginPage .or{
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.navbar .loginPage .google{
    margin-top: 20px;
    display: inline-flex;
    padding: 2px;
    cursor: pointer;
    transition: .3s ease;
}

.navbar .loginPage .google img{
    width: 40px;
    background-color: white;
}
.navbar .loginPage .fa-circle-xmark{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: .5s ease;
}
.navbar .loginPage .fa-circle-xmark:hover{
    color: black;
}
.navbar .loginPage .title{
    font-size: 20px;
    font-weight: bold;
}
